:root {
	--normal-f-size: 18px;
	--small-f-size: 15px;
	--line-height: 30px;
	--font-weight: 400;
	--letter-spacing: -1.5%;
	--border-radius: 6px;
	--p-large-f-size: 36px;
	--p-large-l-height: 50px;
	--p-large-f-weight: 400;
	--max-width: 100%;
	--container-max-width: 100%;
	--container-padding: 0 16px;
	--header-height: 60px;
	--section-min-height: calc(100vh - var(--header-height));
	--section-padding: 2rem 0;
	--section-title-font-size: 38px;
	--section-title-line-height: 42px;
	--section-title-color: var(--text-color);
	--section-title-mix-blend-mode: unset;
}

@media (min-width: 960px) {
	:root {
		--max-width: 1530px;
		--container-max-width: 1530px;
		--container-padding: 0 20px;
		--section-title-font-size: 56px;
		--section-title-line-height: 60px;
		--section-title-padding: 3rem 0 2.5rem;
	}
}
@media (min-width: 1600px) {
	:root {
		--max-width: 1640px;
		--container-max-width: 1640px;
		--container-padding: 0 20px;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--section-title-mix-blend-mode: color-dodge;
		--section-title-color: var(--actionColor);
	}
}