.fade-out-right {
	-webkit-animation: fade-out-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
	animation: fade-out-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.fade-in-right {
	-webkit-animation: fade-in-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
	animation: fade-in-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
}
.fade-in-top {
	-webkit-animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
	animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
}
.fade-out-top {
	-webkit-animation: fade-out-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
	animation: fade-out-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
}
.fade-out-bottom {
	-webkit-animation: fade-out-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
	animation: fade-out-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
}
.fade-in-bottom {
	-webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
	animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
}

.fade-out-top-1 {
	-webkit-animation: fade-out-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	animation: fade-out-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}
.fade-in-bottom-1 {
	-webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
	animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}

.vibrate-1-3s {
	-webkit-animation: vibrate-1 3s linear infinite both;
	animation: vibrate-1 3s linear infinite forwards;
}

.vibrate-1-6s {
	-webkit-animation: vibrate-1 6s linear infinite both;
	animation: vibrate-1 6s linear infinite forwards;
}

.vibrate-1-2s {
	-webkit-animation: vibrate-1 2s linear infinite both;
	animation: vibrate-1 2s linear infinite both;
	/* animation-iteration-count: 1; */
}

@keyframes vibrate-1 {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}

	20% {
		-webkit-transform: translate(-2px, 2px);
		transform: translate(-2px, 2px);
	}

	40% {
		-webkit-transform: translate(-2px, -2px);
		transform: translate(-2px, -2px);
	}

	60% {
		-webkit-transform: translate(2px, 2px);
		transform: translate(2px, 2px);
	}

	80% {
		-webkit-transform: translate(2px, -2px);
		transform: translate(2px, -2px);
	}

	100% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

/* .scale-in {
	-webkit-animation: scale-in 1.5s linear 0.3s both;
	animation: scale-in 1.5s linear 0.3s both;
}
.scale-out {
	-webkit-animation: scale-out 1s linear 0.3s both;
	animation: scale-out 1s linear 0.3s both;
}
.size-in {
	-webkit-animation: size-in 2s linear 0.3s both;
	animation: size-in 2s linear 0.3s both;
}
.size-out {
	-webkit-animation: size-out 2s linear 0.3s both;
	animation: size-out 2s linear 0.3s both;
} */

@-webkit-keyframes scale-in {
	0% {
		height: 400px;
		width: 400px;
	}

	50% {
		height: 400px;
		width: 100%;
	}

	100% {
		height: 100%;
		width: 100%;
	}
}

@keyframes scale-in {
	0% {
		height: 400px;
		width: 400px;
	}

	50% {
		height: 400px;
		width: 100%;
	}

	100% {
		height: 100%;
		width: 100%;
	}
}

@keyframes scale-out {
	0% {
		height: 100%;
		width: 100%;
	}

	50% {
		height: 400px;
		width: 100%;
	}

	100% {
		height: 400px;
		width: 400px;
	}
}

@-webkit-keyframes scale-out {
	0% {
		height: 100%;
		width: 100%;
	}

	50% {
		height: 400px;
		width: 100%;
	}

	100% {
		height: 400px;
		width: 400px;
	}
}
@-webkit-keyframes size-in {
	0% {
		transform: translateX(-47%) translateY(-40%);
		height: calc((947/1678) * 100vw);
	}
	100% {
		transform: translateX(-50%) translateY(-50%);
		height: 100%;
	}
}
@keyframes size-in {
	0% {
		transform: translateX(-47%) translateY(-40%);
		height: calc((947/1678) * 100vw);
	}

	100% {
		transform: translateX(-50%) translateY(-50%);
		height: 100%;
	}
}
@keyframes size-out {
	0% {
		transform: translateX(-50%) translateY(-50%);
		height: 100%;
	}

	100% {
		transform: translateX(-47%) translateY(-40%);
		height: calc((947/1678) * 100vw);
	}
}
@-webkit-keyframes size-out {
	0% {
		transform: translateX(-50%) translateY(-50%);
		height: 100%;
	}

	100% {
		transform: translateX(-47%) translateY(-40%);
		height: calc((947/1678) * 100vw);
	}
}


@keyframes expand-to-left {
	0% {
		width: 50%;
	}

	100% {
		width: 100%;
	}
}

@keyframes collapse-from-left {
	0% {
		width: 100%;
	}
	100% {
		width: 50%;
	}
}

@keyframes expand-to-left {
	0% {
		width: 50%;
	}

	100% {
		width: 100%;
	}
}

@-webkit-keyframes fade-in-right {
	0% {
		-webkit-transform: translateX(50px);
		transform: translateX(50px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fade-in-right {
	0% {
		-webkit-transform: translateX(50px);
		transform: translateX(50px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@-webkit-keyframes fade-out-right {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateX(50px);
		transform: translateX(50px);
		opacity: 0;
	}
}

@keyframes fade-out-right {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateX(50px);
		transform: translateX(50px);
		opacity: 0;
	}
}
@-webkit-keyframes fade-in-top {
	0% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fade-in-top {
	0% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes fade-out-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		opacity: 0;
	}
}

@keyframes fade-out-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		opacity: 0;
	}
}
@-webkit-keyframes fade-in-bottom {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fade-in-bottom {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
