html {
	font-family: var(--montserrat);
	font-size: var(--normal-f-size);
	/* overflow: hidden;
	overflow-y: scroll; */
}

html {
	height: auto;
	min-height: 100vh;
}

html,
body {
	width: 100%;
	height: 100%;
	max-width: 100vw;
}

body {
	background: var(--body-bg);
	color: var(--text-color);
	letter-spacing: var(--letter-spacing);
	padding-top: var(--header-height);
	overflow-x: hidden;
	overflow-y: scroll;
	/* display: flex; */
	/* flex-direction: column; */
	/* scroll-snap-type: y mandatory; */
}

main {
	background: var(--bkg);
	/* height: 100vh; */
}
main > section {
	background: var(--bkg);
	position: relative;
	z-index: 1;
	padding-bottom: 40px;
}
