:root {
	/* --description-max-width: calc(100% - 60px); */

	--description-title-font-size: var(--section-title-font-size);
	--description-title-line-height: var(--section-title-line-height);
	--description-title-font-weight: 400;
	--description-title-padding: 22px 0 0;
	--description-min-height: var(--section-min-height);
	--description-padding: var(--section-padding);
	--description-row-gap: 40px;

	--description-desc--font-size: 18px;
	--description-desc-line-height: 30px;
	--description-section-bg: white;
	--description-section-padding: 44px;
	--description-section-earn-crypto-bg: #46454a;
}

@media (min-width: 960px) {
	:root {
		--description-title-padding: 80px;
		--description-row-gap: 40px;
	}
}