:root {
	--description-max-width: calc(100% - 60px);
	--description-title-font-size: var(--section-title-font-size);
	--description-title-line-height: var(--section-title-line-height);
	--description-title-font-weight: 500;
	--description-title-padding: 1.5rem 0 2rem;
	--description-min-height: var(--section-min-height);
	--description-padding: var(--section-padding);
	--description-row-gap: 40px;
	--description-desc--font-size: 18px;
	--description-desc-line-height: 30px;
	--description-section-bg: white;
	--description-section-padding: 44px;
	--description-section-earn-crypto-bg: #46454a;
	--description-desc-padding-bottom: 2rem
}

@media (min-width: 960px) {
	:root {
		--description-title-padding: var(--section-title-padding);
		--description-row-gap: 40px;
	}
}
