:root {
	--hero-font-size: 30px;
	--hero-line-height: 42px;
	--hero-text-align: center;
	--hero-font-weight: 700;
	--hero-max-width: 70%;
	--hero-padding-bottom: 60px;
	--hero-section-background: var(--bkg);
	--hero-section-padding: 5rem 0 7rem;
	--hero-image-brdrds: 0;
	--hero-image-max-wdith: 100%;
}

@media (min-width: 960px) {
	:root {
		--hero-font-size: 56px;
		--hero-line-height: 80px;
		--hero-image-brdrds: var(--border-radius);
		--hero-image-max-width: var(--max-width);
		--hero-max-width: 827px;
	}
}
